<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key = "AccessFileConnection" value="Provider=Microsoft.JET.OLEDB.4.0; data source = AJ_DBF02.mdb;"/>
      <add key = "SQLConnectionString"  value="server=AMITDESKTOP\SQLEXPRESS;database=DJMS;MultipleActiveResultSets=true;integrated security=True"/>
    </appSettings>
</configuration>